body {
  margin: 0;
  font-family: "Sofia Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*******************
* Common
*******************/
.aligned_text {
  text-align: center;
}

.medium_text {
  font-size: calc(12px + 0.5vw);
}

icon {
  cursor: pointer;
}

icon:hover {
  color: black;
  transition: 0.75s;
}

.fadeable-content {
  animation: fadeIn 1s;
}

.fadeable-content-out {
  animation: fadeOut 1s;
}

.fadeable-half-content {
  animation: fadeInHalf 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInHalf {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*******************
* App level
*******************/
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.root_container {
  margin: 2.5%;
  flex: 1 1;
}

.app_menu {
  height: 100%;
  padding: 0% 5% 0% 5%;
  align-items: center;
}

.app_menu-item {
  font-size: 18px;
  font-weight: 400;
}

/*******************
* Sorting specific
*******************/
.sorting_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.sorting_chart-container {
  width: 50vw;
  height: 50vh;
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.2);
}

.sorting_selection-option {
  padding: 20px;
  cursor: pointer;
}
